{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>HR 仪表盘</h2>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">员工管理</h5>
                    <a href="{% url 'employee_list' %}" class="btn btn-primary">
                        查看所有员工
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}