{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-light">
            <h4 class="card-title mb-0">{% if employee %}编辑{% else %}新建{% endif %}员工信息</h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.name.label_tag }}
                    {{ form.name|add_class:'form-control' }}
                </div>
                <div class="form-group">
                    {{ form.position.label_tag }}
                    {{ form.position|add_class:'form-control' }}
                </div>
                <button type="submit" class="btn btn-primary mt-3">保存</button>
                <a href="{% url 'employee_list' %}" class="btn btn-secondary mt-3 ml-2">取消</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}