{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extra_css %}

{% endblock %}

{% block content %}
<div class="card auth-card">
    <div class="card-body p-lg-5">
        <h1 class="card-title text-center mb-4">用户登录</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {% for field in form %}
            <div class="form-group mb-3">
                <label class="form-label">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                {% if field.errors %}
                <div class="errorlist">{{ field.errors }}</div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-lg">登录</button>
        </div>
        <p class="text-center mt-4">
            没有账号？<a href="{% url 'register' %}" class="text-link">立即注册</a>
        </p>
    </form>
    </div>
</div>
{% endblock %}